#header.span_12_of_12
	= render(:partial => "common/header")

#product-page.span_12_of_12.lt-gray-bg
	#product.span_6_of_12
		%iframe.shopify-widget{:frameborder => "0", :height => "661", :scrolling => "no", :src => "http://widgets.shopifyapps.com/products/box?shop=rip-van-wafels.myshopify.com&style=artgallery&image-size=grande&text-color=%23575757&button-bg-color=%23ff6633&destination=cart", :width => "65%"}

	#product.span_6_of_12
		%iframe.shopify-widget{:frameborder => "0", :height => "661", :scrolling => "no", :src => "http://widgets.shopifyapps.com/products/case-of-4-boxes-30-savings?shop=rip-van-wafels.myshopify.com&style=artgallery&image-size=grande&text-color=%23575757&button-bg-color=%23ff6633&destination=cart", :width => "65%"}

#coming-soon.lt-gray-bg.span_12_of_12
	.span_11_of_12.centered
		#left.span_5_of_12
			%h1.dkgray.centered.bold SUBSCRIPTIONS COMING SOON
			= image_tag( 'store-page/shop-left.png', alt: "clock", :class => "coming-soon span_12_of_12")
		#right.span_5_of_12
			%h1.dkgray.centered.bold ACCESSORIES COMING SOON
			= image_tag( 'store-page/shop-right.png', alt: "clock", :class => "coming-soon span_12_of_12")
