= render(:partial => "common/header")

#header-panel.lt-gray-bg.span_12_of_12

// Threeways to enjoy Panel ----------------------------------------*
#enjoy-panel
	.left-enjoy.orange-bg.span_3_of_12
	.right-enjoy.blue-bg.span_9_of_12

#enjoy-panel
	.left-enjoy.orange-bg.span_3_of_12
	.right-enjoy.blue-bg.span_9_of_12

#enjoy-panel
	.left-enjoy.orange-bg.span_3_of_12
	.right-enjoy.blue-bg.span_9_of_12

// Header-Panel --------------------------------------------------*
#header-panel.lt-gray-bg.span_12_of_12

// Video-Panel --------------------------------------------------*
#video-panel.video-bg.span_12_of_12
	.play
		.sprite

// Header-Panel --------------------------------------------------*
#header-panel.lt-gray-bg.span_12_of_12

// Ingredients-Panel --------------------------------------------------*
#ingredients-panel
	%table#actual-table-ingredients
		%tr
			%td
			%td
			%td
			%td
			%td
			%td
		%tr
			%td
			%td
			%td
			%td
			%td
			%td

// Portions-Panel --------------------------------------------------*
#caramel-panel.orange-bg.span_6_of_12
#cocoa-panel.blue-bg.span_6_of_12

// Header-Panel --------------------------------------------------*
#header-panel.lt-gray-bg.span_12_of_12

// Nutrition-Panel --------------------------------------------------*
#nutrition-panel.span_12_of_12
