
/** Color de los indicadores de las 0,3,6 y 9 */
/** Color de las agujas */
.css-clock {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  /** No usar el modelo de caja estándar de la w3c, usar el alternativo */
  /** Necesario para posicionar los pseudoelementos y elementos internos correctamente */
  position: relative;
  width: 12em;
  height: 12em;
  border: .25em solid #ccc;
  background: white;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
  border-radius: 10em;
  background-image: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, #4d4d4d), color-stop(3%, #4d4d4d), color-stop(3%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-radial-gradient(circle, #4d4d4d, #4d4d4d 3%, #ffffff 3%, #ffffff);
  background-image: -moz-radial-gradient(circle, #4d4d4d, #4d4d4d 3%, #ffffff 3%, #ffffff);
  background-image: -o-radial-gradient(circle, #4d4d4d, #4d4d4d 3%, #ffffff 3%, #ffffff);
  background-image: radial-gradient(circle, #4d4d4d, #4d4d4d 3%, #ffffff 3%, #ffffff);
  /** Por defecto lo hemos hecho vertical, vamos a hacer el horizontal sólo con :after */
}
.css-clock::before, .css-clock::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  /** su anchura será un 2.5% del reloj */
  width: 0.4em;
  height: 10em;
  /** Centrado absoluto */
  margin-top: -5em;
  margin-left: -0.125em;
  /** Aquí el truco: ocultamos lo que queremos con un gradiente de fondo*/
  background-image: -webkit-gradient(radial, circle, 0, circle, 100, color-stop(0%, transparent), color-stop(75%, transparent), color-stop(75%, #b3b3b3), color-stop(90%, #b3b3b3), color-stop(90%, transparent), color-stop(100%, transparent));
  background-image: -webkit-radial-gradient(circle, transparent, transparent 75%, #3399cc 75%, #3399cc 90%, transparent 90%, transparent);
  background-image: -moz-radial-gradient(circle, transparent, transparent 75%, #3399cc 75%, #3399cc 90%, transparent 90%, transparent);
  background-image: -o-radial-gradient(circle, transparent, transparent 75%, #3399cc 75%, #3399cc 90%, transparent 90%, transparent);
  background-image: radial-gradient(circle, transparent, transparent 75%, #3399cc 75%, #3399cc 90%, transparent 90%, transparent);
}
.css-clock::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

[class*="css-clock-pointer-"] {
  /** centrarlo */
  position: absolute;
  left: 50%;
  /** Usamos bottom para centrar automáticamente hacia arriba */
  bottom: 50%;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  background: #ff6633;
  z-index: 1;
}

/** Los segundos: serán más finos, y tendrá la correspondiente animación */
.css-clock-pointer-seconds {
  height: 4.25em;
  width: 0.1em;
  margin-left: -0.05em;
  -webkit-animation: rotate 60s steps(60, end) infinite;
  -moz-animation: rotate 60s steps(60, end) infinite;
  -ms-animation: rotate 60s steps(60, end) infinite;
  -o-animation: rotate 60s steps(60, end) infinite;
  animation: rotate 60s steps(60, end) infinite;
}

.css-clock-pointer-minutes {
  height: 4em;
  width: 0.2em;
  margin-left: -0.1em;
  -webkit-animation: rotate 3600s linear infinite;
  -moz-animation: rotate 3600s linear infinite;
  -ms-animation: rotate 3600s linear infinite;
  -o-animation: rotate 3600s linear infinite;
  animation: rotate 3600s linear infinite;
}

.css-clock-pointer-hours {
  height: 3.5em;
  width: 0.25em;
  margin-left: -0.125em;
  -webkit-animation: rotate 86400s linear infinite;
  -moz-animation: rotate 86400s linear infinite;
  -ms-animation: rotate 86400s linear infinite;
  -o-animation: rotate 86400s linear infinite;
  animation: rotate 86400s linear infinite;
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0);
  }

  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
