/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:900000;
  background-color:#000;
  display:none;
  top: 0;
}

.window {
  left: 25%;

}

#boxes .window {
  position:fixed;
  width: 75%;
  height: auto;
  display: none;
  z-index: 999999;
  padding: 20px;
}

/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width: 90%; 
  height: 40em;
}

.close {
   float: right;
   color: white;
}
