@import "compass/css3";
@import "compass/utilities";
@import "compass/reset/utilities";
@import "compass/layout/sticky-footer";
@import "animation";

/* Smoke container */

#smoke {
  // position: absolute;
  z-index: 333333;
  margin-left: auto;
  margin-right: auto;
  width: 1px;
  position: relative;
}

/* No animations? Display a static smoke image */

.disableAnimations #smoke,
.no-cssanimations #smoke {
  width: 86px;
  margin-left: -25px;
  bottom: 146px;
  background: url('smokeNoAni.png') no-repeat center bottom;
}

/* smoke balls */

.cssanimations #smoke span { 
  display: block;
  position: absolute;
  bottom: -130px; left: 50%; margin-left:-100px;
  height: 200px; width: 200px;
  border: 0px solid rgba(255,255,255, 0.31);
  border-radius: 35px;
  left: -14px; opacity: 0;
  transform: scale(0.2);

  background-image: -moz-radial-gradient(50% 50%, ellipse closest-side, rgba(255,255,255, 0.31), rgba(255,255,255,0) 100%);
  background-image: -webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(255,255,255, 0.31), rgba(255,255,255,0) 100%);
  background-image: -o-radial-gradient(50% 50%, ellipse closest-sider, rgba(255,255,255, 0.31), rgba(255,255,255,0) 100%);
  background-image: -ms-radial-gradient(50% 50%, ellipse closest-side, rgba(255,255,255, 0.31), rgba(255,255,255,0) 100%);
  background-image: radial-gradient(50% 50%, ellipse closest-side, rgba(255,255,255, 0.31), rgba(255,255,255,0) 100%);


}

@include keyframes(smokeL) {
  0%   { @include transform(scale(0.2) translate(0, 0)) }
  10%  { opacity: 1; @include transform(scale(0.2) translate(0, -5px)) }
  100% { opacity: 0; @include transform(scale(1) translate(-20px, -130px)) }
}


@include keyframes(smokeR) {
  0%   { @include transform(scale(0.2) translate(0, 0)) }
  10%  { opacity: 1; @include transform(scale(0.2) translate(0, -5px)) }
  100% { opacity: 0; @include transform(scale(1) translate(20px, -130px)) }
}

#smoke .s0 { @include animation(smokeL 10s 0s infinite) }
#smoke .s1 { @include animation(smokeR 10s 1s infinite) }
#smoke .s2 { @include animation(smokeL 10s 2s infinite) }
#smoke .s3 { @include animation(smokeR 10s 3s infinite) }
#smoke .s4 { @include animation(smokeL 10s 4s infinite) }
#smoke .s5 { @include animation(smokeR 10s 5s infinite) }
#smoke .s6 { @include animation(smokeL 10s 6s infinite) }
#smoke .s7 { @include animation(smokeR 10s 7s infinite) }
#smoke .s8 { @include animation(smokeL 10s 8s infinite) }
#smoke .s9 { @include animation(smokeR 10s 9s infinite) }


