/ TODO: Add actual links here

#footer.lt-gray-bg.span_12_of_12
	.contact-text.span_6_of_12
		%p Would you like to get in touch? EMAIL US OR GIVE US A RING
		%p 2013. All rights reserved © Rip Van Wafels. Co. 212 Clara Street. San Francisco CA 94107
	.social-icons.span_2_of_12
		= image_tag( 'social/facebook-logo.png', alt: "facebook", :class => "social-logo span_2_of_12")
		= image_tag( 'social/twitter-logo.png', alt: "twitter", :class => "social-logo span_2_of_12")
		= image_tag( 'social/pinterest-logo.png', alt: "pinterest", :class => "social-logo span_2_of_12")
		= image_tag( 'social/instagram-logo.png', alt: "instagram", :class => "social-logo span_2_of_12")
