// Header --------------------------------------------------*
#header.span_12_of_12
	%ul.header-list
		%li.nav.span_2_of_12
			= link_to image_tag( 'rvw-logo_off.png', alt: "home", :class => "header-logo img-swap"), root_path
		%li.nav.span_2_of_12
			= link_to "WAFELS", wafel_path, :class => 'header-nav span_2_of_12'
		%li.nav.span_2_of_12
			= link_to "SHOP", store_path, :class => 'header-nav span_2_of_12'
		%li.nav.span_2_of_12 
			= link_to "ABOUT US", about_path, :class => 'header-nav span_2_of_12'
/ %li.nav.span_2_of_12 
/ 	= link_to "slideshow", wholesale_path, :class => 'header-nav span_2_of_1'
